* {
  margin: 0;
  font-family: 'Open Sans';
  font-weight: bold;
}



.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100vh 100vh 100vh 100vh 1fr;
}

.header {
  grid-area: 1 / 1 / 2 / 13;
  background-image: url("test.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}

.Musikvideo {
  grid-area: 2 / 1 / 3 / 13;
  background-image: url("test.png");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.OM-PELLE {
  grid-area: 3 / 1 / 4 / 13;
  background-image: url("test2.jpeg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.Kontakt {
  grid-area: 4 / 1 / 5 / 13;

}

.Footer {
  grid-area: 5 / 1 / 6 / 13;
}

nav{
  position: fixed;
  text-decoration: none;
  height: 100vh
}

ul{
  text-decoration: none;
  list-style-type: none;
  position: absolute;
  line-height: 10vh;
  top: 50%;
}

li{
  text-decoration: none;
  color: white;
}
a{
  color: white;
  text-decoration: none;
}
